* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  overflow: auto;
}
.navbar-brand {
  position: center;
  min-height: 100%;
  padding-top: 10px;
  overflow: auto;
  color:blue;
}

/* The footer is positioned at the bottom of the page */
/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #4e5d6c;
} */

/* The code styles the text at the bottom of the footer */
/* .footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
} */

.navbar {
  padding: 5px;
  margin: 0;
  color:red;
}

/* This CSS styles the ufo icon in the navbar */
/* .nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: rgb(5, 2, 12);
} */
.nav-item {
  position: relative;
  text-align: match-parent;
  padding: 5px;
  color: blue;

}

/* Adding styles to the aside and filter form
.ufo-form {
  margin-top: 30px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
} */

/* The styles for the parallax */
.hero {
  position: static;
  height: 600px;
  padding: 1px;
  margin: 0;
  background: black;
  background-image: url("../images/titanic1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px 600px;
}

.hero h1 {
  margin-top: 75px;
  font-size: 7rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 3rem;
  opacity: 1;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}


