* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  overflow: auto;
}
.navbar-brand {
  position: center;
  min-height: 100%;
  padding-top: 10px;
  overflow: auto;
  color:orangered;
}



.navbar {
  padding: 5px;
  margin: 0;
  color:orangered;
}


.nav-item {
  position: relative;
  text-align: match-parent;
  padding: 5px;
  color: orangered;

}


.hero {
  position: static;
  height: 600px;
  padding: 1px;
  margin: 0;
  background: black;
  background-image: url("../images/titanic1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px 600px;
}

.hero h1 {
  margin-top: 75px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}



  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.0rem;
    color: red;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 6.0rem;
    color:red;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    font-size: 6.0rem;
    color: red;
  }
}
